.cover-art-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 45px;
    
}

.comments {
    align-items: center;
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

